.task {
  width: 100%;
  background: #252d4f;
  border: 1px solid #333333;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  word-wrap: break-word;
}

.task p {
  font-size: 14px;
  line-height: 19px;
  color: #f2f2f2;
  margin-right: auto;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #4ea8de;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #5e60ce;
}

.deleteButton {
  background: none;
  border: none;
  color: #808080;
}
