* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body {
  background: #10124a !important;
  color: #ffffff !important;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
