.newTaskForm {
  height: 54px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}
.newTaskForm input {
  height: 100%;
  flex: 1;
  color: #c2bd4a;
  background: #6473b5;
  border: 1px solid #6473b5;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 16px;
}

.newTaskForm input::placeholder {
  color: black;
}

.newTaskForm button {
  height: 100%;
  padding: 0 16px;
  background: #c2bd4a;
  color: black;
  border: none;
  border-radius: 8px;
  display: flex;
  gap: 6px;
  font-weight: 700;
  align-items: center;
  font-size: 14px;
}

.newTaskForm button img {
  width: 24px;
  height: 24px;
}
