.new-tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 1rem;
}

.new-task__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.new-task__header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.new-task__header p {
  color: #4ea8de;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: #8284fa !important;
}

.new-task__header span {
  background: #333333;
  color: #d9d9d9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aucune-tache {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #c2bd4a;

  margin-top: 100px;
}
